body {
  position: relative; 
  background-color: #1C85D1;
  color: #FFF;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style: none;
  padding: 0;
}

nav li {
  margin: 10px;
}

nav a {
  color: #FFF;
  text-decoration: none;
  font-size: 20px;
}

select, input, button {
  font-family: 'Inter', sans-serif;
  padding: 10px;
  margin: 20px;
  border-radius: 4px;
  border: none;
}

nav {
  position: absolute; 
  bottom: 0;          
  left: 50%;       
  transform: translateX(-50%); 
  width: 90%;  
  margin-bottom: 0px;      
}

select, button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  font-size: 12px;
  margin-bottom: 8px;
}

.timer-circle {
  width: 200px;
  height: 200px;
  display: flex;

  align-items: center;
  justify-content: center; 
  border:solid #FFF;
  border-radius: 50%;  
  color: white;  
  font-size: 50px;  
  text-align: center;  
  margin: 20px;
  border-width: 10px; 
}


.date-info {
  width: 265px;
  height: 15px;
  flex-shrink: 0;
  font-size: 15px;
  margin-bottom: 20px;
}

.mainconteiner {
  display: flex;
  align-items: center; 
  justify-content: center; 
  flex-direction: column;
  margin-bottom: 50px;
}



.inputcontainer {
  display: flex;
  align-items: center; 
  justify-content: center; 
  flex-direction: column;
  margin-bottom: 50px;

}



.start {
  width: 100px;
  height: 35px;
  font-family: 'Inter', sans-serif;
  padding: 10px;
  margin: 20px;
  border-radius: 4px;
  border: none;
}